<!DOCTYPE html>
<html>
<!-- Include statement has head section -->
<%- include('./partials/head') -%>
<body>
    <!-- Include navigation menu -->
    <%- include('./partials/menu') -%>

</body>
</html>








