<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      h2 {color:aliceblue}
    </style>
  </head>
  <body>
 <!-- this is our horizontal navbar -->
<ul class="menu">
<li><a href="/"><img src="images/bdpalogo.png">  </a></li>
<li><a href="/">home</a></li>
<li><a href="/bdpahistory">bdpahistory</a></li>
<li><a href="/formentry">sample Form </a></li>
</ul>
<!-- end navbar -->
<br><br><br>







    <h1>bdpahistory</h1>
    <img src="images/bdpalogo.png" alt="BDPA logo">

    <h2>my name is colin </h2>
    <p>this page will be an intro to the HSCC program </p>
    <h2> hyperlinks </h2>
      <li>Fuonders of BDPA Founded by Earl Pace and the late David Wimberl </li>
      <li>Founding year of bdpa</li>
      <LI>First chapters</LI>
      <li>First BDPA confrennce </li>\
      <li>Most recent venue and winner of hscc</li>
      <li>current national president and vp</li>
      <li>current chapter president and vp</li>
<li>bdpa national <a href="http://www.bdpa.org">link</a> </li>
<li>bdpa millwaukee <a href="http://www.bdpa.org">link</a> </li>
<li>w3schools <a href="http://www.w3schools.com">link</a> </li>
<li>bdpa history <a href="/bdpahistory">link</a> </li>

    </ul>
  </body>
</html>
