body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(84, 4, 4);
}


a {
  color: rgba(0, 255, 38, 0.33);
}

h1 {color:crimson}



.menu {
list-style-type: none;
margin: 0;
padding: 0;
background-color: cadetblue;
}

.menu li{
float:left;
}